<div *ngIf="loading" class="loading-screen">
    <div class="loading-content">
        <div class="loading"></div>
        <div class="text-white">Loading Profile, please wait</div>
    </div>
</div>

<ng-container *ngIf="!loading">
    <div class="mb-4 col">
        <h1 class="mb-4 font-serif">User Profile</h1>
        <div class="row">
            <div class="col-6 col-sm-4 col-md-2"><strong>Name:</strong></div>
            <div class="col-6">{{ userProfile?.firstname }} {{ userProfile?.lastname }}</div>
        </div>
        <div class="row">
            <div class="col-6 col-sm-4 col-md-2"><strong>E-Mail:</strong></div>
            <div class="col-6">{{ userProfile?.email }}</div>
        </div>
    </div>


    <div class="col">
        <h1 class="font-serif">Booked Travels</h1>
        <!-- {{ userProfile?.travels | json }} -->
        <div *ngFor="let travel of userProfile?.travels">
            <!-- travel: {{ travel.uid }} -->
            <div *ngFor="let item of travel.bookedItems">
                <div class="row">
                    <h3 class="mb-3 mt-3 font-serif">{{item.name}}
                        <span class="ml-3 p-3 badge badge-primary font-weight-normal">{{item.type}}</span>
                        <span class="ml-3 p-3 badge badge-secondary font-weight-normal">{{item.location}}</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</ng-container>