<div *ngIf="!(regions$ | async)" class="loading-screen">
    <div class="loading-content">
        <div class="loading"></div>
        <div class="text-white">Loading Regions, please wait</div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 id="guideHeader" class="font-serif display-4 mb-4 mt-3">Choose a region</h2>
        </div>
        <div *ngIf="(regions$ | async).length === 0" class="col-md-6 offset-md-3">
            No regions found, sry
        </div>
        <div id="guideRegions" *ngFor="let region of (regions$ | async)" class="col-md-4 col-sm-6">
            <div class=" card mb-4 {{ region | kebapCase }}">
                <a class="region-link lead" [routerLink]="['region/' + region]">
                    <div class="card-body">
                        {{ region }}
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
