@import '../../../../scss/variables';

$imgBase: "/assets/img/capitals/";
$backgrounds: (
        "beyond-the-wall": "/assets/img/404-background.jpg",
        "the-crownlands": $imgBase + "KingsLanding.jpg",
        "the-gift": $imgBase + "CastleBlack.jpg",
        "the-north": $imgBase + "Winterfell.jpg",
        "the-reach": $imgBase + "Highgarden.jpg",
        "the-riverlands": $imgBase + "Riverrun.jpg"
);

.card {
  transition: 0.2s ease;
  position: relative;

  &::before {
    content: '';
    display: block;
    left: -1px;
    top: -1px;
    background: white;
    width: 101%;
    height: 101%;
    position: absolute;
    opacity: 0.6;
    z-index: 1;
    pointer-events: none;
  }

  &:hover {
    transform: scale(1.01);
  }
}

.region-link {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  min-height: 200px;
  text-align: right;
  position: relative;
  z-index: 2;
  color: $secondary;
  font-size: 1.2em;
  text-transform: uppercase;
}

@each $name, $url in $backgrounds {
  .#{$name} {
    background-size: cover;
    background-image: url(#{$url});
    background-repeat: no-repeat;
  }
}



