<div *ngIf="loading" class="loading-screen">
    <div class="loading-content">
        <div class="loading"></div>
        <div class="text-white">Loading {{ type | titlecase }}, please wait</div>
    </div>
</div>

<div *ngIf="!loading" class="container">
    <div class="col-12 mb-3">
        <a id="placeGoRegion" class="btn btn-outline-secondary mr-3" [routerLink]="['../../']">Back to {{place.location}}</a>
        <a id="placeGoGuide" class="btn btn-outline-secondary" [routerLink]="['../../../../']">Back to Overview</a>
        <h1 id="placeHeader" class="mb-3 mt-3 font-serif font-weight-bold text-primary">{{place.name}} <span
                class="ml-3 p-3 badge badge-secondary font-weight-normal">{{place.location}}</span></h1>
        <div class="row">
            <div class="col-md-3 col-sm-4 col-6">
                <h4 class="font-serif">Rulers</h4>
            </div>
            <div class="col-md-9 col-sm-8 col-6">
                <div *ngFor="let ruler of place.rulers" class="badge badge-primary p-2 m-1">
                    <span class="text-white">{{ruler}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-4 col-6">
                <h4 class="font-serif">Founder</h4>
            </div>
            <div class="col-md-9 col-sm-8 col-6">
                <div *ngFor="let founder of place.founder" class="badge badge-primary p-2 m-1">
                    <span class="text-white">{{founder}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-4 col-6">
                <h4 class="font-serif">Religons</h4>
            </div>
            <div class="col-md-9 col-sm-8 col-6">
                <div *ngFor="let religion of place.religion" class="badge badge-primary p-2 m-1">
                    <span class="text-white">{{religion}}</span>
                </div>
            </div>
        </div>
        <div class="mt-3 row justify-content-center">
            <!-- <div><strong>Book {{ type | titlecase }}</strong></div> -->
            <button *ngIf="!isBooked" (click)="addBookItem(place)" type="button"
                class="font-serif text-white btn btn-success ">Add
                {{ type }} to travel</button>
                <div *ngIf="isBooked">{{ type | titlecase }} already added to travel. In <a *ngIf="isBooked"
                    routerLink="/book/checkout">My Travel</a> you can manage your travel</div>
        </div>
    </div>

    <div class="col-12 card p-0">
        <div class="card-header bg-dark">
            <h3 class="font-serif mb-0 text-light">Places Of Note</h3>
        </div>
        <div class="card-body bg-light">
            <div class="row">
                <div *ngIf="!place.placesOfNote || place.placesOfNote.length === 0" class="col-md-8 offset-md-4">
                    Nothing is just Nothing.
                </div>
                <div *ngFor="let placesOfNote of place.placesOfNote" class="col-md-4 col-sm-6">
                    <div class="card mb-4">
                        <div class="card-body ">
                            {{ placesOfNote }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- {{ place | json }} -->
</div>