<div class="register-wrapper container text-dark">
    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm" autocomplete="off" class="register-form pt-5 pb-3 px-2">
        <h2 id="registerHeader" class="text-center mb-4">Register</h2>
        <div class="form-row d-flex align-bottom align-items-end">
            <div [class.group-selected]="fieldSelected === 'register-firstname'" class="form-group col mr-0">
                <label for="register-firstname">Firstname</label>
                <ng-container *ngIf="registerForm.get('firstname').touched">
                    <div *ngFor="let error of registerForm.get('firstname').errors | keyvalue">
                        <small class="text-danger">{{ error.value ? errorMessages[error.key] : '' }}</small>
                    </div>
                </ng-container>
                <input (blur)="fieldSelected = ''"
                       (focus)="fieldSelected = 'register-firstname'"
                       formControlName="firstname"
                       id="register-firstname"
                       placeholder="Firstname"
                       type="text">
            </div>
            <div [class.group-selected]="fieldSelected === 'register-lastname'" class="form-group col ml-0">
                <label for="register-lastname">Lastname</label>
                <ng-container *ngIf="registerForm.get('lastname').touched">
                    <div *ngFor="let error of registerForm.get('lastname').errors | keyvalue">
                        <small class="text-danger">{{ error.value ? errorMessages[error.key] : '' }}</small>
                    </div>
                </ng-container>
                <input (blur)="fieldSelected = ''"
                       (focus)="fieldSelected = 'register-lastname'"
                       formControlName="lastname"
                       id="register-lastname"
                       placeholder="Lastname"
                       type="text">
            </div>
        </div>
        <div [class.group-selected]="fieldSelected === 'login-email'" class="form-group">
            <label for="login-email">E-Mail</label>
            <ng-container *ngIf="registerForm.get('email').touched">
                <div *ngFor="let error of registerForm.get('email').errors | keyvalue">
                    <small class="text-danger">{{ error.value ? errorMessages[error.key] : '' }}</small>
                </div>
            </ng-container>
            <input (blur)="fieldSelected = ''"
                   (focus)="fieldSelected = 'login-email'"
                   formControlName="email"
                   id="login-email"
                   placeholder="E-Mail"
                   type="text">
        </div>
        <div [class.group-selected]="fieldSelected === 'password'" class="form-group">
            <label for="password">Password</label>
            <ng-container *ngIf="registerForm.get('password').touched">
                <div *ngFor="let error of registerForm.get('password').errors | keyvalue">
                    <small class="text-danger">{{ error.value ? errorMessages[error.key] : '' }}</small>
                </div>
            </ng-container>
            <app-password (blur)="fieldSelected = ''" (focus)="fieldSelected = 'password'" formControlName="password" id="password"></app-password>
        </div>
        <div class="form-group text-center">
            <button *ngIf="!loading" [disabled]="registerForm.invalid" class="btn btn-outline-dark" type="submit">Register</button>
            <div *ngIf="loading" class="loading" style="--loading-icon-size: 45px"></div>
        </div>
    </form>
</div>

<img class="register-background fade-in" src="assets/img/register-background-small.jpg" jpPreload="assets/img/register-background.jpg" alt="Register Background" [class.blur]="fieldSelected">
