@import "../../../../scss/variables";

.register-wrapper {
  .register-form {
    border: 2px solid white;
    border-radius: 3%;
    background-color: $light;
    position: absolute;
    width: 100%;
    max-width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    //max-height: 350px;

    .form-group {
      position: relative;
      margin-left: 40px;
      margin-right: 40px;
      margin-bottom: 30px;

      .ng-invalid.ng-touched {
        border-color: $danger;
      }
    }

    label {
      position: absolute;
      top: 0;
      font-size: 10pt;
      transform: translate(0, 15%);
      transition: 0.3s;
      opacity: 0;
    }

    input {
      opacity: 0.95;
      display: block;
      width: 100%;
      background: none;
      color: lighten($dark, 10%);
      border: none;
      border-bottom: 1px solid $dark;

      &::before {
        display: block;
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        background: $danger;
        width: 0;
        height: 2px;
      }

      &:focus {
        outline: none;

        &::before {
          width: 100%;
        }
      }
    }

    .group-selected {
      label {
        top: 100%;
        font-size: 9pt;
        opacity: 1;
      }

      input::before {
        width: 100%;
      }
    }
  }
}

.register-background {
  object-fit: cover;
  position: fixed;
  width: 101%;
  height: 101%;
  top: 0;
  left: -3px;
  z-index: -1;
  filter: blur(3px);
  transition: filter 0.2s ease;
  opacity: 0.9;

  &.loaded {
    filter: blur(1px);
  }

  &.blur {
    filter: blur(3px);
  }
}
