<div class="login-wrapper container text-light">
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" autocomplete="off" class="login-form py-5 px-2">
        <h2 id="loginHeader" class="text-center mb-4">Login</h2>
        <div [class.group-selected]="fieldSelected === 'login-email'" class="form-group">
            <label for="login-email">E-Mail</label>
            <ng-container *ngIf="loginForm.get('email').touched">
                <div *ngFor="let error of loginForm.get('email').errors | keyvalue">
                    <small class="text-danger">{{ error.value ? errorMessages[error.key] : '' }}</small>
                </div>
            </ng-container>
            <input (blur)="fieldSelected = ''"
                   (focus)="fieldSelected = 'login-email'"
                   formControlName="email"
                   id="login-email"
                   placeholder="E-Mail"
                   type="text">
        </div>
        <div [class.group-selected]="fieldSelected === 'login-password'" class="form-group">
            <label for="login-password">Password</label>
            <ng-container *ngIf="loginForm.get('password').touched">
                <div *ngFor="let error of loginForm.get('password').errors | keyvalue">
                    <small class="text-danger">{{ error.value ? errorMessages[error.key] : '' }}</small>
                </div>
            </ng-container>
            <input (blur)="fieldSelected = ''"
                   (focus)="fieldSelected = 'login-password'"
                   formControlName="password"
                   id="login-password"
                   placeholder="Password"
                   type="password">
        </div>

        <div class="form-group text-center">
            <button *ngIf="!loading" [disabled]="loginForm.invalid" class="btn btn-outline-light" type="submit">Login</button>
            <div *ngIf="loading" class="loading" style="--loading-icon-size: 45px"></div>
        </div>
        <div class="text-center">
            <small>No account yet? <a class="pl-" routerLink="/register">Register</a></small>
        </div>
    </form>
</div>

<img class="login-background fade-in" src="assets/img/login-background-small.jpg" jpPreload="assets/img/login-background.jpg" alt="Login Background" [class.blur]="fieldSelected">
