<div class="row">
    <div class="col-6">
        <input (blur)="this.blur.emit($event); this.onTouched(); touched = true" (focus)="this.focus.emit($event)" (input)="onInput($event.target.value)" [class.invalid]="invalid && touched" [disabled]="disabled" [value]="password" class="w-100" id="password" name="password" placeholder="Password"
               type="password">
    </div>
    <div class="col-6 password-strenght-wrapper pl-4 text-center">
        <progress [value]="passwordStrength" class="password-strenght-indicator" max="4"></progress>
        <div class="progress-text">
            <small>{{ messages[passwordStrength] }}</small>
        </div>
    </div>
</div>
