@import "../../../../scss/variables";


.password-strenght-wrapper {
  line-height: 1;
  color: darken($primary, 25%);

  progress {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 10px;
  }

  .progress-text {
    margin-top: -4px;
  }

  progress,
  progress::-moz-progress-bar,
  progress::-webkit-progress-value {
    background-color: darken($primary, 15%);
    color: $primary;
  }

  progress[value^="0"]::-webkit-progress-value,
  progress[value^="1"]::-webkit-progress-value,
  progress[value^="2"]::-webkit-progress-value {
    background-color: $danger;
  }


  progress[value^="0"]::-moz-progress-bar,
  progress[value^="1"]::-moz-progress-bar,
  progress[value^="2"]::-moz-progress-bar {
    background-color: $danger;
  }


  progress[value^="3"]::-webkit-progress-value {
    background-color: $warning;
  }

  progress[value^="3"]::-moz-progress-bar {
    background-color: $warning;
  }

  progress[value^="4"]::-moz-progress-bar,
  progress[value^="5"]::-moz-progress-bar {
    background-color: $success;
  }

  progress[value^="4"]::-webkit-progress-value,
  progress[value^="5"]::-webkit-progress-value {
    background-color: $success;
  }

  small {
    font-size: 8pt;
    line-height: 1;
  }
}


input {
  opacity: 0.95;
  display: block;
  background: none;
  color: lighten($dark, 10%);
  border: none;
  border-bottom: 1px solid $dark;

  &::before {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background: $danger;
    width: 0;
    height: 2px;
  }

  &:focus {
    outline: none;

    &::before {
      width: 100%;
    }
  }

  &.invalid {
    border-color: $danger;
  }
}
