<div *ngIf="!(bookedItems$ | async)" class="loading-screen">
    <div class="loading-content">
        <div class="loading"></div>
        <div class="text-white">Loading Items, please wait</div>
    </div>
</div>

<div *ngIf="loadingBooking" class="loading-screen">
    <div class="loading-content">
        <div class="loading"></div>
        <div class="text-white">Your travel will be generated, please wait</div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 id="checkoutHeader" class="font-serif display-4 mb-3 mt-3">My travel</h2>
        </div>
        <div class="col-12" *ngIf="(bookedItems$ | async).length === 0">
            <h3>No Items found</h3>
            <p>You currently don't have items booked for your travel. Visit the <a routerLink="/travelGuide">Travel
                    Guide</a> and choose your locations</p>
        </div>
        <ng-container *ngIf="(bookedItems$ | async).length > 0">
            <div class="col-12" *ngFor="let item of (bookedItems$ | async); trackBy: trackByFn">
                <h3 class="mb-3 mt-3 font-serif">{{item.name}}
                    <span class="ml-3 p-3 badge badge-primary font-weight-normal">{{item.type}}</span>
                    <span class="ml-3 p-3 badge badge-secondary font-weight-normal">{{item.location}}</span>
                    <button class="ml-3 btn btn-danger" type="button" (click)="removeItem(item)"> X</button>
                </h3>

                
            </div>
            <div class="col-12">
                <div class="alert alert-info" role="alert" *ngIf="!(currentUser$ | async)">
                    <fa name="info-circle" class="text-info pr-1"></fa>
                    To Book a travel you have to be logged in, please
                    <a routerLink="/login">login</a> or
                    <a routerLink="/register">create an Account</a>
                </div>
                <button (click)="clearTravelModal.open()" type="button" class="btn btn-danger mr-4">
                    <fa name="trash" class="pr-2"></fa>
                    Clear travel entries
                </button>
                <button [disabled]="!(currentUser$ | async)" (click)="bookTravelModal.open()" type="button"
                    class="btn btn-success">
                    <fa name="plane" class="pr-2"></fa>
                    Book travel
                </button>
            </div>
        </ng-container>
    </div>
</div>
<ngx-smart-modal #clearTravelModal identifier="clearTravelModal">
    <h1>Are you sure?</h1>
    <p>Are you really sure you want to delete all entries for you travel?</p>

    <button type="button" class="mr-3 btn btn-danger" (click)="clearTravel()">Yes</button>
    <button type="button" class="btn btn-secondary" (click)="clearTravelModal.close()">No</button>
</ngx-smart-modal>

<ngx-smart-modal #bookTravelModal identifier="bookTravelModal">
    <h1>Are you sure?</h1>
    <p>Are you really sure you want to book this travel ?</p>

    <button type="button" class="btn btn-primary text-white" (click)="bookTravel()">Let's take a journey</button>
    <button type="button" class="ml-3 btn btn-secondary" (click)="bookTravelModal.close()">No</button>
</ngx-smart-modal>