<div *ngIf="loading" class="loading-screen">
    <div class="loading-content">
        <div class="loading"></div>
        <div class="text-white">Loading Region, please wait</div>
    </div>
</div>

<div *ngIf="!loading" class="container">
    <div class="row">
        <div class="col-12 mb-3">
            <a id="regionGoGuide" class="btn btn-outline-secondary" [routerLink]="['../../']">Back to Overview</a>
            <h1 id="regionHeader" class="mb-3 mt-3 font-serif font-weight-bold text-primary">{{region.name}} <span
                    class="ml-3 p-3 badge badge-secondary font-weight-normal">{{region.location}}</span></h1>
            <h5 class="mb-4"> {{region.geography}} </h5>
            <div class="row">
                <div class="col-md-3 col-sm-4 col-6">
                    <h4 class="font-serif">Culture</h4>
                </div>
                <div class="col-md-9 col-sm-8 col-6">
                    <div *ngFor="let culture of region.culture" class="badge-culture badge badge-primary p-2 m-1">
                        <span class="text-white">{{culture}}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-4 col-6">
                    <h4 class="font-serif">Founder</h4>
                </div>
                <div class="col-md-9 col-sm-8 col-6">
                    <div *ngFor="let founder of region.founder" class="badge-founder badge badge-primary p-2 m-1">
                        <span class="text-white">{{founder}}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-4 col-6">
                    <h4 class="font-serif">Religons</h4>
                </div>
                <div class="col-md-9 col-sm-8 col-6">
                    <div *ngFor="let religion of region.religion" class="badge-religion badge badge-primary p-2 m-1">
                        <span class="text-white">{{religion}}</span>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-12 card p-0">
            <div *ngIf="region.regionCapital && capitalType; else hasNoCapital">
                <div class="card-header bg-dark">
                    <h3 class="font-serif mb-0 text-light">{{region.regionCapital}}
                        <span class="ml-3 p-3 badge badge-primary font-weight-normal">capital</span>
                        <span id="regionCapitalTypeChip" class="ml-3 p-3 badge badge-primary font-weight-normal">{{capitalType}}</span>
                    </h3>
                </div>
                <div class="card-body bg-light p-0 pb-3">
                    <!-- {{ '/' + capitalType + '/' + region.regionCapital }} -->
                    <a [routerLink]="[capitalType + '/' + region.regionCapital]">
                        <img class="d-block w-100" src="assets/img/capitals/{{region.regionCapital}}.jpg"
                            alt="{{region.regionCapital}}">
                    </a>
                </div>
            </div>
            <ng-template #hasNoCapital>
                <div class="card-header bg-dark">
                    <h3 class="font-serif mb-0 text-light">Nothing is just Nothing</h3>
                </div>
                <div class="card-body bg-light p-0 pb-3">
                    <img class="d-block w-100" src="assets/img/404-background.jpg" alt="{{region.regionCapital}}">
                </div>
            </ng-template>
        </div>
        <div class="col-12 card p-0">
            <div class="card-header bg-dark">
                <h3 class="font-serif mb-0 text-light">Cities</h3>
            </div>
            <div class="card-body bg-light">
                <div id="regionCities" class="row">
                    <div *ngIf="region.cities.length === 0" class="col-md-8 offset-md-4">
                        Nothing is just Nothing.
                    </div>
                    <div *ngFor="let city of region.cities" class="col-md-4 col-sm-6">
                        <div class="card mb-4">
                            <a [routerLink]="['city/' + city ]">
                                <div class="card-body " [innerHTML]="city | safeHtml">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 card p-0">
            <div class="card-header bg-dark">
                <h3 class="font-serif mb-0 text-light">Castles</h3>
            </div>
            <div class="card-body bg-light">
                <div class="row">
                    <div *ngIf="!region.castles || region.castles.length === 0" class="col-md-8 offset-md-4">
                        Nothing is just Nothing.
                    </div>
                    <div *ngFor="let castle of region.castles" class="col-md-4 col-sm-6">
                        <div class="card mb-4">
                            <a [routerLink]="['castle/' + castle ]">
                                <div class="card-body " [innerHTML]="castle | safeHtml "></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 card p-0">
            <div class="card-header bg-dark">
                <h3 class="font-serif mb-0 text-light">Towns</h3>
            </div>
            <div class="card-body bg-light">
                <div id="regionTowns" class="row">
                    <div *ngIf="region.towns.length === 0" class="col-md-8 offset-md-4">
                        Nothing is just Nothing.
                    </div>
                    <div *ngFor="let town of region.towns" class="col-md-4 col-sm-6">
                        <div class="card mb-4">
                            <a [routerLink]="['town/' + town ]">
                                <div class="card-body " [innerHTML]="town | safeHtml"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 card p-0">
            <div class="card-header bg-dark">
                <h3 class="font-serif mb-0 text-light">Places Of Note</h3>
            </div>
            <div class="card-body bg-light">
                <div id="regionPlacesOfNote" class="row">
                    <div *ngIf="!region.placesOfNote || region.placesOfNote.length === 0" class="col-md-8 offset-md-4">
                        Nothing is just Nothing.
                    </div>
                    <div *ngFor="let placesOfNote of region.placesOfNote" class="col-md-4 col-sm-6">
                        <div class="card mb-4">
                            <div class="card-body ">
                                <div class="card-body " [innerHTML]="placesOfNote | safeHtml"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- {{ region | json }} -->
    </div>


</div>