<!--The content below is only a placeholder and can be replaced.-->

<header>
  <app-layout-header></app-layout-header>
</header>
<main class="pt-5 mt-5">
  <router-outlet></router-outlet>
</main>
<footer>
  <app-layout-footer></app-layout-footer>
</footer>

