<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a [routerLink]="['/']" class="navbar-brand">
        <img alt="Logo NiceOfFire" src="assets/img/logo-small.png" width="55">
    </a>
    <button (click)="isCollapsed = !isCollapsed" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" type="button">
        <span [class.open]="isCollapsed" class="hamburger-icon"><span class="hamburger-inner"></span><span class="hamburger-inner-2"></span></span>
    </button>
    <div [class.not-collapsed]="!isCollapsed" class="collapsed-md text-center text-md-left navbar-collapse justify-content-md-end" id="navbarNav">
        <ul class="navbar-nav mb-3 mb-lg-0 mr-md-4">
            <li [routerLinkActiveOptions]="{exact:true}" class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/">Home</a>
            </li>
            <li [routerLinkActiveOptions]="{exact:false}" class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/travelGuide/">Travel Guide</a>
            </li>
            <li [routerLinkActiveOptions]="{exact:true}" class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/book/checkout/">
                    <span *ngIf="(bookedItemsNumber$ | async) > 0" class="align-middle badge badge-primary"> {{ bookedItemsNumber$ | async }}</span>
                    <fa *ngIf="(bookedItemsNumber$ | async) < 1" class="pr-2 pr-lg-1" name="suitcase"></fa>
                    My Travel
                </a>
            </li>
        </ul>
        <div *ngIf="!(currentUser$ | async)">
            <span class="d-block d-md-none text-light mb-3 mt-2">Not logged in yet?</span>
            <a [routerLink]="['/register']" class="btn btn-secondary mr-2">Sign up</a>
            <a [routerLink]="['/login']" class="btn btn-outline-primary">Log in</a>
        </div>
        <div *ngIf="(currentUser$ | async)" class="text-light">
            <small><a [routerLink]="['/profile']" class="d-block d-md-inline-block mb-3 mb-md-0 px-3 py-2 border-primary border">{{ (currentUser$ | async)?.email }}</a></small>
            <a [routerLink]="['/logout']" class="btn btn-outline-light ml-2">Logout</a>
        </div>
    </div>
</nav>
