@import "../../../../scss/variables";

$hamburger-height: 36px;
$hamburger-width: 44px;
$hamburger-bread-height: 2px;
$hamburger-padding: 12px;

/*hamburger icon*/
.navbar-toggler {
  position: relative;
  width: $hamburger-width;
  height: $hamburger-height;
  padding: 0;
  border: none;

  &:focus {
    outline: none;
    border-color: rgba(255, 255, 255, 0.2);
  }
}

.hamburger-icon {
  left: $hamburger-padding;
  top: $hamburger-padding - $hamburger-bread-height;

  .hamburger-inner {
    top: 0;
    width: $hamburger-width - $hamburger-padding*2;
  }

  &::before {
    content: "";
    top: $hamburger-height/2 - $hamburger-padding;
  }

  &::after {
    content: "";
    top: $hamburger-height - $hamburger-padding*2;
  }

  .hamburger-inner-2 {
    &::before, &::after {
      content: "";
      top: $hamburger-height/2 - $hamburger-padding;
    }
  }
}

.hamburger-icon.open {
  left: $hamburger-padding;
  top: $hamburger-padding - $hamburger-bread-height;

  .hamburger-inner {
    width: 0;
    transform: translate($hamburger-width/4, $hamburger-height/2 - $hamburger-padding);
  }

  &::before {
    width: 0;
    transform: translateX($hamburger-width/4);
  }

  &::after {
    width: 0;
    transform: translate($hamburger-width/4, -$hamburger-height/2 + $hamburger-padding);
  }

  .hamburger-inner-2 {
    &::before {
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }
  }
}

.hamburger-icon::before,
.hamburger-icon::after,
.hamburger-icon,
.hamburger-inner-2::before,
.hamburger-inner-2::after,
.hamburger-inner-2,
.hamburger-inner {
  transform-origin: center center;
  display: block;
  height: $hamburger-bread-height;
  opacity: 1;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
  width: $hamburger-width - $hamburger-padding*2;
  position: absolute;
}

.hamburger-icon::before,
.hamburger-icon::after,
.hamburger-inner-2::before,
.hamburger-inner-2::after,
.hamburger-inner {
  background-color: $light;
}

@media screen and (max-width: $screen-md) {
  .collapsed-md {
    position: fixed;
    transition: 0.3s ease;
    opacity: 1;
    right: 0;
    top: 0;
    background: $dark;
    height: 100%;
    margin-top: 60px;
    min-width: 250px;
    padding: 20px;

  }

  .not-collapsed {
    pointer-events: none;
    transform: translate(100%, 0);
    opacity: 0;
  }
}

