<div class="container text-center">
    <h1 class="mt-3 font-serif display-3 display-lg-2 text-primary">Welcome Travelor!</h1>
    <!-- <p>The Stranger is neither male nor female, yet both at the same time.
        He is the outcast, the wanderer from far places, less and more than human, unknown and unknowable.
        His face is the face of death. He leads the newly deceased to the other world.
        Those who feel like outcasts might light a candle for the Stranger.</p> -->
    <h2 class="font-italic">"The Stranger waits outside my door and will not be denied."</h2>
    <h4 class="text-right font-serif">—Maester Aemon</h4>

    <h3 class="d-block mb-3 mt-5 font-serif">Find a lovley place to stay inside the eye of a <strong>blue-eyed giant!</strong></h3>
    <a id="toGuide" [routerLink]="['/travelGuide']" class="btn btn-primary text-white">Enter Macumber's Eye</a>


    <div *ngIf="!(currentUser$ | async)">
        <h3 class="d-block mb-3 mt-5 font-serif">Not logged in yet?</h3>
        <a [routerLink]="['/register']" class="btn btn-secondary mr-2">Sign up</a>
        <a [routerLink]="['/login']" class="btn btn-primary text-white">Log in</a>
    </div>
    <div *ngIf="(currentUser$ | async)">
        <h3 class="d-block mb-3 mt-5 font-serif">Valar morghulis {{ (currentUser$ | async)?.email }}</h3>
        <a [routerLink]="['/book/checkout']" class="btn btn-outline-primary mr-2">My Travel</a>
        <a [routerLink]="['/profile']" class="btn btn-outline-primary mr-2">Profile</a>
        <a [routerLink]="['/logout']" class="btn btn-outline-secondary">Logout</a>
    </div>
</div>
