<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-12 text-center text-secondary small p-1">
            <strong>Created by</strong> Bernhard Wagner and Daniel Hölbling
        </div>
    </div>
</div>


