<div class="container">
    <div class="row mt-5">
        <div class="col-md-12 text-center mt-5">
            <div class="error-template">
                <h1 class="display-2 font-serif text-secondary">
                    Oops!</h1>
                <h2 class="display-3 text-blue font-serif text-info">
                    404 Not Found</h2>
                <div class="error-details mt-4 mb-2 lead">
                    You were lost deep in the always winter desert beyond the wall
                </div>
                <div class="error-actions">
                    <a class="text-primary btn btn-outline-primary btn-lg" routerLink="/">
                        Take Me Home </a>
                </div>
            </div>
        </div>
    </div>
</div>
<img class="not-found-background fade" src="assets/img/404-background.jpg" alt="404 Background">
