.not-found-background {
  object-fit: cover;
  position: fixed;
  width: 101%;
  height: 101%;
  top: 0;
  left: -3px;
  z-index: -1;
  animation: fade 0.7s ease;
  opacity: 0.15;

}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.15;
  }
}
