/* You can add global styles to this file, and also import other style files */
@import './scss/variables';
@import './scss/animations';
@import './scss/loading';
@import './scss/toastr';
@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/ngx-toastr/toastr-bs4-alert';
@import "~ngx-smart-modal/ngx-smart-modal";


/*Basic background Color*/
body {
  background-color: #e4e4e4;
}

/*Layout*/
main {
  padding-bottom: 20px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

/*Typography*/
.font-serif {
  font-family: $font-family-serif;
}
