/*Loading icon*/
.loading {
  --loading-icon-size: 64px;
  display: inline-block;
  position: relative;
  width: var(--loading-icon-size);
  height: var(--loading-icon-size);

  &::before, ::after {
    content: '';
    display: block;
    position: absolute;
    border: calc(var(--loading-icon-size) * 0.05) solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;

    &::after {
      animation-delay: -0.5s;
    }
  }
}

@keyframes lds-ripple {
  0% {
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: calc(var(--loading-icon-size) * 0.05);
    left: calc(var(--loading-icon-size) * 0.05);
    width: calc(var(--loading-icon-size) * 0.9);
    height: calc(var(--loading-icon-size) * 0.9);
    opacity: 0;
  }
}
