@import "variables";

/*taostr*/
.toast-container .ngx-toastr {
  border: 2px solid white;
  border-radius: 4px;
  width: 400px;
}

.toast-container .toast-error {
  &::before {
    content: 'X';
    font-size: 18pt;
    font-weight: bold;
    display: block;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
  }

  color: white;
  background-image: none;
  background-color: $danger;
}


.toast-container .toast-success {
  color: white;
  background-color: $success;
}
