/*colors*/
$primary: #c59c40;
$secondary: rgb(72, 72, 83);
$dark: #3b373e;
$light: #e6e2d1;
$success: #097233;
$danger: #c03334;
$warning: #c48b3b;
$info: #1c6182;

/*Fonts*/
$font-family-sans-serif: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: "Cinzel Decorative", Georgia, "Times New Roman", Times,
  serif !default;

/*Breakpoints*/
$screen-md: 992px;